/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS Reset */
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

.max-width {
    max-width: 1440px;

}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.default-padding {
    padding: 20px;
}

/* CSS Variables */
:root {
    --text-color: #252B42;
    --second-text-color: #737373;
    --primary-color: #96BB7C;
    --light-text-color: #FFFFFF;

}


/* Navigation Bar */
header {
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.menuLeft {
    display: flex;
    align-items: center;
}

.ham {
    margin-right: 15px;
    display: none;
    border: none;
    background: none;
}

.menuLeft h2 {
    color: var(--text-color);
}

.menuLeft ul {
    display: flex;
}

.menuLeft ul li {
    margin-right: 20px;
    list-style: none;

}

.menuLeft ul li a {
    text-decoration: none;
    color: var(--second-text-color);

}

.menuRight button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: var(--light-text-color);
    background-color: var(--primary-color);

}

/* hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./assets/img/boy-background.png);
}

.heroLeft h6 {
    color: var(--primary-color);
}

.heroLeft h1 {
    max-width: 250px;
}

.heroLeft p {
    max-width: 300px;
}

.heroLeft button {
    border: none;
    padding: 10px 20px;
    color: var(--light-text-color);
    background-color: var(--primary-color);
    border-radius: 5px;
}

.heroLeft a {
    text-decoration: none;
    color: var(--primary-color);
    border: var(--primary-color);
}

/* Responsive Design */

@media screen and (max-width:768px) {

    /* Navigation Bar */
    .navbar {
        padding: 10px;
    }

    .ham {
        display: block;
    }

    .menuLeft ul li {
        display: none;
    }
}

@media screen and (max-width:600px) {}

@media screen and (max-width:480px) {

    /* Navigation Bar */

    .menuLeft h2 {
        font-size: 20px;
    }




    .menuRight button {
        padding: 6px 12px;
        font-size: 12px;



    }
}